label {
    text-transform: uppercase;
}

form.form1.container.center_div {
    width: 30%;
}

.col-lg-12 {
    width: 80%;
    display: inline-flex;
}

li {
    display: inline-flex;
}

ul.data {
    border-style: solid;
    width: 50%;
    padding: 31px;
}

@media print {
    .pagebreak {
        page-break-after: always;
    }

    /* page-break-after works, as well */

}

.printButton {
    display: none;
}