<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recept</title>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>


<div class="col-md-8 col-md-offset-4">

    <ul class="data" th:each="medicijn:${medicijnPrint}">
        <h2>Recept</h2>
        <label for="bsn">BSN patient:</label>
        <li id="bsn" class="list-data">
            <div th:text="${medicijn.BSN}"></div>
        </li>
        <br>

        <label for="voorschrijfDatum">Voorschrijfdatum:</label>
        <li id="voorschrijfDatum" class="list-data">
            <div th:text="${medicijn.voorschrijfDatum}"></div>
        </li>
        <br>

        <label for="afleverMethode">AfleverMethode:</label>
        <li id="afleverMethode" class="list-data">
            <div th:text="${medicijn.afleverMethode}"></div>
        </li>
        <br>

        <label for="eindDatum">Einddatum:</label>
        <li id="eindDatum" class="list-data">
            <div th:text="${medicijn.eindDatum}"></div>
        </li>
        <br><br>

        <label for="naam">Medicijn:</label>
        <li id="naam" class="list-data">
            <div th:text="${medicijn.naam}"></div>
        </li>
        <br>

        <label for="hoeveelheid">Aantal:</label>
        <li id="hoeveelheid" class="list-data">
            <div th:text="${medicijn.hoeveelheid}"></div>
        </li>
        <br>

        <label for="voorschrift">Voorschrift:</label>
        <li id="voorschrift" class="list-data">
            <div th:text="${medicijn.voorschrift}"></div>
        </li>

        <button class="printButton" onclick="window.print()">Print this page</button>

        <div class="pagebreak"></div>
    </ul>

</div>

</body>
</html>